<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="well well-lg">
		<b>Enter the amount to be transferred</b>
		<br>
		<input type="text" id="amount" pattern="[0-9]" class="form-control">
		<br>
		<center><p href="#" class="btn btn-success btn-lg" purpose = 'transfer_amount'>TRANSFER BALANCE</p></center>
	</div>
</body>
</html>